{% extends 'base.html.twig' %}

{% block title %}
	{{annonce.title}}
{% endblock %}

{% block body %}
<section class="jumbotron text-center">

 <h1 class="display-4">Vendre un article</h1>
 
  <div class="container-fluid">
 <hr class="my-4">
    <div class="row">
      <div class="col" style="background-color:lavender">
	    <h2>
			{{annonce.title}}
		</h2>
        
		<p>
			{{annonce.content}}
		</p>
<h3> Mise en vente le: {{annonce.date | date('d/m/Y h:i')}} </h3>
<h3> Prix {{annonce.price }} €</h3>
 
		<a href="{{ path('mon_coin_update', {'id' : annonce.id } ) }}">
			<button>Modifier mon Annonce</button>
		</a>
        <a href="{{ path('mon_coin_delete', {'id' : annonce.id } ) }}">
			<button>Supprimer mon Annonce</button>
		</a>

</div>
</div>
</div>
{% endblock %}