{% extends 'base.html.twig' %}

{% block title %} Modifier mon Annonce {% endblock %}

{% block body %}
<section class="jumbotron text-center">
<div class="container-fluid">
 <h1 class="display-4">L'annonce</h1>
 <hr class="my-4">
<div class="row">
<div class="col" style="background-color:lavender">
    {{ form_start(updateForm) }}
        {{ form_row(updateForm.title, {label: "Titre",  attr: {class: "form-black"}}) }}
        {{ form_row(updateForm.content, {label: "Annonce"}) }}
        {{ form_row(updateForm.title, {label: "Prix",  attr: {class: "form-black"}}) }}
        {{ form_row(updateForm.title, {label: "Ville",  attr: {class: "form-black"}}) }}
        {{ form_row(updateForm.category, {label: "Categorie", attr: {class: "form-black"}}) }}
     {{ form_end(updateForm) }}
     </div>
</div>
</div>
{% endblock %}
